<!-- /templates/index.liquid -->
{% comment %}

This is the homepage of your site.

More info on global variables (available on all templates):
- http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
  <!-- BEGIN: PAGE CONTENT -->
  <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-8 -->
  <section class="c-layout-revo-slider c-layout-revo-slider-6">
    <div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
      <div class="tp-banner rev_slider" data-version="5.0">
        <ul>
          <!--BEGIN: SLIDE #1 -->
          <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
            <img alt="" src="{{ 'slide1.jpg' | asset_img_url: 'master' }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!--BEGIN: MAIN TITLE -->
            <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="0" data-voffset="-70" data-speed="500" data-start="1000" data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;" data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
              <h3 class="c-main-title c-font-40 c-font-bold c-font-uppercase c-font-green-1 c-center"> {{ 'homepage.carrousel.slide1_title_green' | t | json }} <span class="c-font-white">{{ 'homepage.carrousel.slide1_title_white' | t }} </span><span class="c-font-red-1">{{ 'homepage.carrousel.slide1_title_red' | t }}</span> </h3>
            </div>
            <!--END -->
            <!--BEGIN: SUB TITLE -->
            <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="0" data-voffset="10" data-speed="500" data-start="1500" data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;" data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
              <p class="c-font-20 c-line-height-28 c-font-white c-font-bold c-center c-sub-title"> {{ 'homepage.carrousel.slide1_subtitle' | t | json }} </p>
            </div>
            <!--END -->
            <!--BEGIN: ACTION BUTTON -->
            <div class="tp-caption randomrotateout" data-x="center" data-y="center" data-hoffset="0" data-voffset="100" data-speed="500" data-start="2000" data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;" data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;">
              <a href="#" class="c-action-btn btn btn-lg c-btn-square c-btn-border-2x c-btn-white c-btn-bold c-btn-uppercase">Shop</a>
            </div>
            <!--END -->
          </li>
          <!--END -->

          <!--BEGIN: SLIDE #2 -->
          <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
            <img alt="" src="{{ 'slide2.jpg' | asset_url }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!--BEGIN: MAIN TITLE -->
            <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-30" data-speed="500" data-start="1000" data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;" data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
              <h3 class="c-main-title c-font-40 c-font-bold c-font-center c-font-uppercase c-font-white"> {{ 'homepage.carrousel.slide2_title' | t | json }} </h3>
            </div>
            <!--END -->
            <!--BEGIN: ACTION BUTTON -->
            <div class="tp-caption randomrotateout" data-x="center" data-y="center" data-hoffset="" data-voffset="120" data-speed="500" data-start="1500" data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;" data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;">
              <a href="#" class="c-action-btn btn btn-lg c-btn-square c-btn-border-2x c-btn-white c-btn-bold c-btn-uppercase">Shop</a>
            </div>
            <!--END -->
          </li>
          <!--END -->
        </ul>
      </div>
    </div>
  </section>
  <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-8 -->
  <!-- BEGIN: CONTENT/ISOTOPE/GALLERY-4 -->
  <section id="collections">
    <div id="c-isotope-anchor-1" class="c-content-box c-size-md" style="background-image: url({{ 'bg-51.jpg' | asset_url }})">
      <div class="container">
        <div class="c-content-title-1">
          <h3 class="c-center c-font-uppercase c-font-bold c-font-white">Collections</h3>
          <div class="c-line-center c-theme-bg"></div>
        </div>
        <div class="c-content-isotope-filter-1 c-center">
          <button class="c-isotope-filter-btn c-font-white c-theme-border-bottom c-active" data-filter="*">Show all</button>
          <button class="c-isotope-filter-btn c-font-white c-theme-border-bottom" data-filter=".c-isotope-fall">Nelly Women Fall/Winter</button>
          <button class="c-isotope-filter-btn c-font-white c-theme-border-bottom" data-filter=".c-isotope-spring">Nelly Women Spring/Summer</button>
          <button class="c-isotope-filter-btn c-font-white c-theme-border-bottom" data-filter=".c-isotope-men">Men Doido</button>
        </div>

        <!-- {% assign index = 0 %}
        {% for collection in collections limit:4 %}
          {% unless index > 3 %}
              {% assign isEmpty = false %}
              {% assign collection_item_width = 'large--one-fifth medium--one-third' %}
              {% if index == 0 %}
                <button class="c-isotope-filter-btn c-font-white c-theme-border-bottom c-active" data-filter="*">
                  Show All
              </button>
              {% else %}
                <button class="c-isotope-filter-btn c-font-white c-theme-border-bottom" data-filter="*">
                  {{ collection.title }}
                </button>
              {% endif %}
              {% assign index = index | plus: 1 %}

          {% endunless %}
        {% endfor %}
        -->

        <div class="c-content-isotope-gallery c-opt-4">
          <div class="c-content-isotope-item c-item-size-double c-isotope-men wow animate zoomIn" data-wow-delay="0.5s">
            <div class="c-content-isotope-image-container">
              <img class="c-content-isotope-image" src="{{ 'big1.jpg' | asset_img_url: 'large' }}" />
            </div>
          </div>
          <div class="c-content-isotope-item c-isotope-spring wow animate zoomIn" data-wow-delay="0.5s">
            <div class="c-content-isotope-image-container">
              <img class="c-content-isotope-image" src="{{ 'mid1.png' | asset_img_url: 'large' }}" />
            </div>
          </div>
          <div class="c-content-isotope-item c-isotope-fall wow animate zoomIn" data-wow-delay="0.5s">
            <div class="c-content-isotope-image-container">
              <img class="c-content-isotope-image" src="{{ 'mid2.png' | asset_img_url: 'large' }}" />
            </div>
          </div>
          <div class="c-content-isotope-item c-item-size-double c-isotope-men wow animate zoomIn" data-wow-delay="0.5s">
            <div class="c-content-isotope-image-container">
              <img class="c-content-isotope-image" src="{{ 'big2.jpg' | asset_img_url: 'large' }}" />
            </div>
          </div>
          <div class="c-content-isotope-item c-isotope-fall wow animate zoomIn" data-wow-delay="0.5s">
            <div class="c-content-isotope-image-container">
              <img class="c-content-isotope-image" src="{{ 'wide1.png' | asset_img_url: 'large' }}" />
            </div>
          </div>
          <div class="c-content-isotope-item c-isotope-fall wow animate zoomIn" data-wow-delay="0.5s">
            <div class="c-content-isotope-image-container">
              <img class="c-content-isotope-image" src="{{ 'big3.jpg' | asset_img_url: 'large' }}" />
            </div>
          </div>
          <div class="c-content-isotope-item c-isotope-spring wow animate zoomIn" data-wow-delay="0.5s">
            <div class="c-content-isotope-image-container">
              <img class="c-content-isotope-image" src="{{ 'mid3.png' | asset_img_url: 'medium' }}" />
            </div>
          </div>
          <div class="c-content-isotope-item c-isotope-spring wow animate zoomIn" data-wow-delay="0.5s">
            <div class="c-content-isotope-image-container">
              <img class="c-content-isotope-image" src="{{ 'mid4.png' | asset_img_url: 'medium' }}" />
            </div>
          </div>
          <div class="c-content-isotope-item c-isotope-men wow animate zoomIn" data-wow-delay="0.5s">
            <div class="c-content-isotope-image-container">
              <img class="c-content-isotope-image" src="{{ 'wide2.png' | asset_img_url: 'large' }}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END: CONTENT/ISOTOPE/GALLERY-4 -->
  <!-- BEGIN: CONTENT/STATS/COUNTER-3 -->
  <section id="stats">
    <div class="c-content-box c-size-md c-bg-parallax" style="background-image: url({{'bg-29.jpg' | asset_url }})">
      <div class="container">
        <div class="c-content-counter-1">
          <div class="c-content-title-1">
            <h3 class="c-center c-font-uppercase c-font-white c-font-bold">We never stop delivering</h3>
            <div class="c-line-center c-theme-bg"></div>
          </div>
          <div class="row c-margin-t-60">
            <div class="col-md-4">
              <div class="c-counter c-font-white c-bordered c-border-red c-font-white" data-counter="counterup">7</div>
              <h4 class="c-title c-first c-font-white c-font-uppercase c-font-bold">Different Countries</h4>
              <p class="c-content c-font-white c-opacity-08">..and growing. We are always seeking to expand our frontiers and deliver more and more products worldwide.</p>
            </div>
            <div class="col-md-4">
              <div class="c-counter c-font-white c-bordered c-border-blue c-font-white" data-counter="counterup">35,500</div>
              <h4 class="c-title c-font-white c-font-uppercase c-font-bold">Pieces of Clothing Produced</h4>
              <p class="c-content c-font-white c-opacity-08">We are constantly upgrading our equipment to produce more in less time.</p>
            </div>
            <div class="col-md-4">
              <div class="c-counter c-font-white c-bordered c-border-green c-font-white" data-counter="counterup">101,678</div>
              <h4 class="c-title c-font-white c-font-uppercase c-font-bold">Kilometers of thread</h4>
              <p class="c-content c-font-white c-opacity-08">That is more than 2 laps(40,008km) around the world!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END: CONTENT/STATS/COUNTER-3 -->
  <!-- BEGIN: CONTENT/FEATURES/FEATURES-4-3 -->
  <!-- BEGIN: FEATURES 4.3 -->
  <section id="wholesale">
    <div class="c-content-box c-size-md c-no-padding c-bg-white">
      <div class="c-content-feature-4">
        <div class="c-bg-parallax c-feature-bg c-content-right c-diagonal c-border-left-white" style="background-image: url({{ 'bg-02.jpg' | asset_url }})"></div>
        <div class="c-content-area c-content-left"></div>
        <div class="container">
          <div class="c-feature-content c-left">
            <div class="c-content-v-center">
              <div class="c-wrapper">
                <div class="c-body">
                  <div class="c-content-title-1 wow animate fadeInDown">
                    <h3 class="c-font-uppercase c-font-bold c-left">Wholesale Orders</h3>
                    <div class="c-line-left"></div>
                    <p class="c-left">High quality and made in italy</p>
                  </div>
                  <div class="c-content">
                    <p class="c-margin-b-30 c-left wow animate fadeInDown"> We are able to meet any type of request order and requirement, customize and tailor cut in a highly flexible ad hoc solutions is our prerogative and company policy. </p>
                    <a href="#footer" class="btn btn-lg c-btn-green c-btn-square c-btn-bold wow animate fadeIn" data-wow-delay="0.2s">CONTACT US</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END: CONTENT/FEATURES/FEATURES-4-3 -->
  <!-- BEGIN: CONTENT/FEATURES/FEATURES-11 -->
  <section id="team">
  <div class="c-content-box c-size-md c-bg-grey-1">
    <div class="container">
      <div class="c-content-title-1">
        <h3 class="c-font-uppercase c-center c-font-bold">Meet the Team</h3>
        <div class="c-line-center"></div>
      </div>
      <!-- BEGIN: CONTENT/SLIDERS/TEAM-1 -->
      <!-- Begin: Testimonals 1 component -->
      <div class="c-content-person-1-slider" data-slider="owl" data-items="3" data-auto-play="8000">
        <!-- Begin: Owlcarousel -->
        <div class="owl-carousel owl-theme c-theme">
          <div class="item">
            <div class="c-content-person-1">
              <div class="c-caption c-content-overlay">
                <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                    <a href="{{ 'team-1.jpg' | asset_url }}" data-lightbox="fancybox" data-fancybox-group="gallery-1">
                      <i class="icon-magnifier"></i>
                    </a>
                  </div>
                </div>
                <img class="c-overlay-object img-responsive" src="{{ 'team-1.jpg' | asset_url }}" alt="">
              </div>
              <div class="c-body">
                <div class="c-head">
                  <div class="c-name c-font-uppercase c-font-bold">Francesco Falconetti</div>
                  <ul class="c-socials c-theme-ul">
                    <li>
                      <a href="https://www.facebook.com/maglierianelly">
                        <i class="icon-social-facebook"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="c-position"> Chief Executive Officer </div>
                <p> Credi in te e lavora con fiducia per realizzare i tuoi sogni, anche se sei l'unico a crederci. </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="c-content-person-1">
              <div class="c-caption c-content-overlay">
                <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                    <a href="{{ 'team-3.jpg' | asset_url }}" data-lightbox="fancybox" data-fancybox-group="gallery-1">
                      <i class="icon-magnifier"></i>
                    </a>
                  </div>
                </div>
                <img class="c-overlay-object img-responsive" src="{{ 'team-3.jpg' | asset_url }}" alt="">
              </div>
              <div class="c-body">
                <div class="c-head">
                  <div class="c-name c-font-uppercase c-font-bold">Stella Carmella</div>
                  <ul class="c-socials c-theme-ul">
                    <li>
                      <a href="https://www.facebook.com/carmela.stella">
                        <i class="icon-social-facebook"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="c-position"> Purchase Director </div>
                <p></p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="c-content-person-1">
              <div class="c-caption c-content-overlay">
                <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                    <a href="{{ 'team-2.jpg' | asset_url }}" data-lightbox="fancybox" data-fancybox-group="gallery-1">
                      <i class="icon-magnifier"></i>
                    </a>
                  </div>
                </div>
                <img class="c-overlay-object img-responsive" src="{{ 'team-2.jpg' | asset_url }}" alt="">
              </div>
              <div class="c-body">
                <div class="c-head">
                  <div class="c-name c-font-uppercase c-font-bold">Raffaelle Falconetti</div>
                  <ul class="c-socials c-theme-ul">
                    <li>
                      <a href="https://www.facebook.com/raffaele.falconetti">
                        <i class="icon-social-facebook"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="c-position"> Product Director </div>
                <p></p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="c-content-person-1">
              <div class="c-caption c-content-overlay">
                <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                    <a href="{{ 'team-4.jpg' | asset_url }}" data-lightbox="fancybox" data-fancybox-group="gallery-1">
                      <i class="icon-magnifier"></i>
                    </a>
                  </div>
                </div>
                <img class="c-overlay-object img-responsive" src="{{ 'team-4.jpg' | asset_url }}" alt="">
              </div>
              <div class="c-body">
                <div class="c-head">
                  <div class="c-name c-font-uppercase c-font-bold">Mariana Falconetti</div>
                  <ul class="c-socials c-theme-ul">
                    <li>
                      <a href="https://www.facebook.com/mariana.vianna.16">
                        <i class="icon-social-facebook"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="c-position"> International Sales Director </div>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <!-- End-->
      </div>
      <!-- End-->
      <!-- END: CONTENT/SLIDERS/TEAM-1 -->
    </div>
  </div>
  <!-- END: CONTENT/FEATURES/FEATURES-11 -->
  <section id="about">
    <div class="c-content-box c-size-md">
      <div class="container">
        <div class="c-content-title-1">
          <h3 class="c-font-uppercase c-center c-font-bold">About Us</h3>
          <div class="c-line-center"></div>
        </div>
      </div>
    </div>
    <!-- BEGIN: CONTENT/CONTACT/CONTACT-1 -->
    <div class="c-content-box c-size-md c-bg-img-top c-no-padding c-pos-relative">
      <div class="container">
        <div class="c-content-contact-1 c-opt-1">
          <div class="row" data-auto-height=".c-height">
            <div class="col-sm-8 c-desktop"></div>
            <div class="col-sm-4">
              <div class="c-body">
                <div class="c-section wow animate bounceInLeft">
                  <h3>Apulia Textiles Ltd.</h3>
                </div>
                <div class="c-section wow animate bounceInLeft">
                  <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Address</div>
                  <p>Via dell’ Euro n.4,
                    <br/>76121 Barletta (BT),
                    <br/>Puglia, Italy</p>
                  </div>
                  <div class="c-section wow animate bounceInLeft">
                    <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Contacts</div>
                    <p>
                      <strong>T</strong> +39 0883.348220
                      <br/>
                      <strong>F</strong> +39 0883.1978698</p>
                    </div>
                    <div class="c-section wow animate bounceInLeft">
                      <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Social</div>
                      <br/>
                      <ul class="c-content-iconlist-1 c-theme">
                        <li>
                          <a href="#">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-youtube-play"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="gmapbg" class="c-content-contact-1-gmap" style="height: 615px;"></div>
        </div>
        <!-- END: CONTENT/CONTACT/CONTACT-1 -->
      </section>
    </div>
    <!-- END: PAGE CONTAINER -->
