<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <!--
  <link href="assets/plugins/socicon/socicon.css" rel="stylesheet" type="text/css"/>
  <link href="assets/plugins/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css"/>
-->
{{ '//fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&subset=latin,cyrillic-ext,greek-ext,cyrillic,latin-ext,vietnamese,greek' | stylesheet_tag }}
{{ '//fonts.googleapis.com/css?family=Hind:400,500,300,600,700' | stylesheet_tag }}
{{ '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' | stylesheet_tag }}
{{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
{{ 'simple-line-icons.min.css' | asset_url | stylesheet_tag }}
{{ 'animate.min.css' | asset_url | stylesheet_tag }}
<!--
<link href="assets/plugins/revo-slider/css/layers.css" rel="stylesheet" type="text/css" />
<link href="assets/plugins/revo-slider/css/navigation.css" rel="stylesheet" type="text/css" />
-->
<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN: BASE PLUGINS -->
{{ 'settings.css' | asset_url | stylesheet_tag }}
{{ 'cubeportfolio.min.css' | asset_url | stylesheet_tag }}
{{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
{{ 'owl.theme.css' | asset_url | stylesheet_tag }}
{{ 'owl.transitions.css' | asset_url | stylesheet_tag }}
{{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
{{ 'slider.css' | asset_url | stylesheet_tag }}
<!-- END: BASE PLUGINS -->

<!-- BEGIN: PAGE STYLES -->
{{ 'ilightbox.css' | asset_url | stylesheet_tag }}
<!-- END: PAGE STYLES -->

<!-- BEGIN THEME STYLES -->
{{ 'plugins.css' | asset_url | stylesheet_tag }}
{{ 'default.css' | asset_url | stylesheet_tag }}
{{ 'components.css' | asset_url | stylesheet_tag }}
{{ 'custom.css' | asset_url | stylesheet_tag }}
<!-- END THEME STYLES -->

<!-- Header hook for plugins ================================================== -->
{{ content_for_header }}
{% include 'oldIE-js' %}

{% comment %}
If you store has customer accounts disabled, you can remove the following JS file
{% endcomment %}
{% if template contains 'customers' %}
{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{% endif %}

</head>

{% comment %}
Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="c-layout-header-mobile-fixed c-layout-header-fullscreen c-layout-header-topbar c-layout-quick-sidebar-shown c-layout-header-static" >
  <!-- BEGIN: LAYOUT/HEADERS/HEADER-ONEPAGE -->
  <!-- BEGIN: HEADER -->
  <header class="c-layout-header c-layout-header-dark-mobile c-header-transparent-dark" id="home" data-minimize-offset="0">
    <div class="c-navbar">
      <div class="container-fluid">
        <!-- BEGIN: BRAND -->
        <div class="c-navbar-wrapper clearfix">
          <div class="c-brand c-pull-left">
            <a href="index.html" class="c-logo">
              <img src="{{ 'logo.png' | asset_img_url: 'small'}}" alt="APULIA" class="c-desktop-logo">
              <img src="{{ 'logo.png' | asset_img_url: 'small'}}" alt="APULIA" class="c-desktop-logo-inverse">
              <img src="{{ 'logo.png' | asset_img_url: 'small'}}" alt="APULIA" class="c-mobile-logo">
            </a>
            <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
              <span class="c-line"></span>
              <span class="c-line"></span>
              <span class="c-line"></span>
            </button>
            <button class="c-search-toggler" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <!-- END: BRAND -->
          <!-- BEGIN: QUICK SEARCH -->
          <form class="c-quick-search" action="#">
            <input type="text" name="query" placeholder="Type to search..." value="" class="form-control" autocomplete="off">
            <span class="c-theme-link">&times;</span>
          </form>
          <!-- END: QUICK SEARCH -->
          <!-- BEGIN: HOR NAV -->
          <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU-ONEPAGE -->
          <!-- BEGIN: MEGA MENU -->
          <nav class="c-mega-menu c-mega-menu-onepage c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold" data-onepage-animation-speed="700">
            <ul class="nav navbar-nav c-theme-nav">
              <li class="c-search-toggler-wrapper">
                <a href="#" class="c-btn-icon c-search-toggler">
                  <i class="fa fa-search"></i>
                </a>
              </li>
              <li>
                <a href="javascript:;" data-toggle="modal" data-target="#login-form" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-black c-btn-circle c-btn-uppercase c-btn-sbold">
                  <i class="icon-user"></i> Sign In
                </a>
              </li>
            </ul>
          </nav>
          <!-- END: MEGA MENU -->
          <!-- END: LAYOUT/HEADERS/MEGA-MENU-ONEPAGE -->
          <!-- END: HOR NAV -->
        </div>
      </div>
    </div>
  </header>
  <!-- END: HEADER -->
  <!-- END: LAYOUT/HEADERS/HEADER-ONEPAGE -->
  <!-- BEGIN: CONTENT/USER/FORGET-PASSWORD-FORM -->
  <div class="modal fade c-content-login-form" id="forget-password-form" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content c-square">
        <div class="modal-header c-no-border">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 class="c-font-24 c-font-sbold">Password Recovery</h3>
          <p>To recover your password please fill in your email address</p>
          <form>
            <div class="form-group">
              <label for="forget-email" class="hide">Email</label>
              <input type="email" class="form-control input-lg c-square" id="forget-email" placeholder="Email">
            </div>
            <div class="form-group">
              <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Submit</button>
              <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">Back To Login</a>
            </div>
          </form>
        </div>
        <div class="modal-footer c-no-border">
          <span class="c-text-account">Don't Have An Account Yet ?</span>
          <a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
        </div>
      </div>
    </div>
  </div>
  <!-- END: CONTENT/USER/FORGET-PASSWORD-FORM -->
  <!-- BEGIN: CONTENT/USER/SIGNUP-FORM -->
  <div class="modal fade c-content-login-form" id="signup-form" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content c-square">
        <div class="modal-header c-no-border">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 class="c-font-24 c-font-sbold">Create An Account</h3>
          <p>Please fill in below form to create an account with us</p>
          <form>
            <div class="form-group">
              <label for="signup-email" class="hide">Email</label>
              <input type="email" class="form-control input-lg c-square" id="signup-email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="signup-username" class="hide">Username</label>
              <input type="email" class="form-control input-lg c-square" id="signup-username" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="signup-fullname" class="hide">Fullname</label>
              <input type="email" class="form-control input-lg c-square" id="signup-fullname" placeholder="Fullname">
            </div>
            <div class="form-group">
              <label for="signup-country" class="hide">Country</label>
              <select class="form-control input-lg c-square" id="signup-country">
                <option value="1">Country</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Signup</button>
              <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">Back To Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END: CONTENT/USER/SIGNUP-FORM -->
  <!-- BEGIN: CONTENT/USER/LOGIN-FORM -->
  <div class="modal fade c-content-login-form" id="login-form" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content c-square">
        <div class="modal-header c-no-border">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 class="c-font-24 c-font-sbold">Good Afternoon!</h3>
          <p>Let's make today a great day!</p>
          <form>
            <div class="form-group">
              <label for="login-email" class="hide">Email</label>
              <input type="email" class="form-control input-lg c-square" id="login-email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="login-password" class="hide">Password</label>
              <input type="password" class="form-control input-lg c-square" id="login-password" placeholder="Password">
            </div>
            <div class="form-group">
              <div class="c-checkbox">
                <input type="checkbox" id="login-rememberme" class="c-check">
                <label for="login-rememberme" class="c-font-thin c-font-17">
                  <span></span>
                  <span class="check"></span>
                  <span class="box"></span> Remember Me
                </label>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Login</button>
              <a href="javascript:;" data-toggle="modal" data-target="#forget-password-form" data-dismiss="modal" class="c-btn-forgot">Forgot Your Password ?</a>
            </div>
            <div class="clearfix">
              <div class="c-content-divider c-divider-sm c-icon-bg c-bg-grey c-margin-b-20">
                <span>or signup with</span>
              </div>
              <ul class="c-content-list-adjusted">
                <li>
                  <a class="btn btn-block c-btn-square btn-social btn-twitter">
                    <i class="fa fa-twitter"></i> Twitter
                  </a>
                </li>
                <li>
                  <a class="btn btn-block c-btn-square btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook
                  </a>
                </li>
                <li>
                  <a class="btn btn-block c-btn-square btn-social btn-google">
                    <i class="fa fa-google"></i> Google
                  </a>
                </li>
              </ul>
            </div>
          </form>
        </div>
        <div class="modal-footer c-no-border">
          <span class="c-text-account">Don't Have An Account Yet ?</span>
          <a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
        </div>
      </div>
    </div>
  </div>
  <!-- END: CONTENT/USER/LOGIN-FORM -->

  <main class="wrapper main-content" role="main">
    {{ content_for_layout }}
  </main>

  <!-- BEGIN: LAYOUT/FOOTERS/FOOTER-8 -->
  <footer id="contact" class="c-layout-footer c-layout-footer-4 c-bg-footer-8">
    <div class="c-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 c-footer-4-p-right wow animate fadeInUp">
            <div class="c-feedback">
              <h3 class="c-font-blue">Contact Us</h3>
              <form action="#">
                <input type="text" placeholder="Your Name" class="form-control">
                <input type="text" placeholder="Your Email" class="form-control">
                <textarea rows="8" name="message" placeholder="Write comment here ..." class="form-control"></textarea>
                <button type="submit" class="btn c-btn-blue c-btn-border-2x c-btn-uppercase btn-lg c-btn-bold c-btn-square">Send</button>
              </form>
            </div>
          </div>
          <div class="col-md-6 c-footer-4-p-left wow animate fadeInUp">
            <div class="c-twitter">
              <h3 class="c-font-thin">Tweets</h3>
              <a class="twitter-timeline" width="390" href="https://twitter.com/nellymaglieria" data-tweet-limit="2" data-chrome="noheader nofooter noscrollbar noborders transparent">Loading tweets by @nellymaglieria...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END: LAYOUT/FOOTERS/FOOTER-8 -->

  <!-- Plugin Includes JS=============================================== -->
  <!-- BEGIN: LAYOUT/BASE/BOTTOM -->
  <!-- BEGIN: CORE PLUGINS -->
  <!--[if lt IE 9]>
  <script src="../assets/global/plugins/excanvas.min.js"></script>
  <![endif]-->
  {{ 'jquery.min.js' | asset_url | script_tag }}
  {{ '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js' | script_tag }}
  {{ 'jquery.easing.min.js' | asset_url | script_tag }}
  {{ 'wow.min.js' | asset_url | script_tag }}
  {{ 'reveal-animate.js' | asset_url | script_tag }}
  <!-- END: CORE PLUGINS -->
  <!-- BEGIN: LAYOUT PLUGINS -->
  {{ 'jquery.themepunch.tools.min.js' | asset_url | script_tag }}
  {{ 'jquery.themepunch.revolution.min.js' | asset_url | script_tag }}
  {{ 'revolution.extension.slideanims.min.js' | asset_url | script_tag }}
  {{ 'revolution.extension.layeranimation.min.js' | asset_url | script_tag }}
  {{ 'revolution.extension.navigation.min.js' | asset_url | script_tag }}
  {{ 'jquery.cubeportfolio.min.js' | asset_url | script_tag }}
  {{ 'owl.carousel.min.js' | asset_url | script_tag }}
  {{ 'jquery.waypoints.min.js' | asset_url | script_tag }}
  {{ 'jquery.counterup.min.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox.pack.js' | asset_url | script_tag }}
  {{ 'bootstrap-slider.js'  | asset_url | script_tag }}
  <!-- END: LAYOUT PLUGINS -->
  <!-- BEGIN: THEME SCRIPTS -->
  {{ 'components.js' | asset_url | script_tag }}
  {{ 'app.js' | asset_url | script_tag }}
  <!--<script src="assets/base/js/components-shop.js" type="text/javascript"></script>-->
  <script>
  $(document).ready(function()
  {
    App.init(); // init core
  });
  </script>
  <!-- END: THEME SCRIPTS -->

  <!-- BEGIN: PAGE SCRIPTS -->
  {{ 'isotope.pkgd.min.js' | asset_url | script_tag }}
  {{ 'imagesloaded.pkgd.min.js' | asset_url | script_tag }}
  {{ 'packery-mode.pkgd.min.js' | asset_url | script_tag }}
  {{ 'jquery.requestAnimationFrame.js' | asset_url | script_tag }}
  {{ 'jquery.mousewheel.js' | asset_url | script_tag }}
  {{ 'ilightbox.packed.js' | asset_url | script_tag }}
  {{ 'isotope-gallery.js' | asset_url | script_tag }}
  {{ '//maps.google.com/maps/api/js?sensor=true' | script_tag }}
  {{ 'gmaps.js' | asset_url | script_tag }}
  {{ 'contact.js' | asset_url | script_tag }}
  <script>
  $(document).ready(function()
  {
    var slider = $('.c-layout-revo-slider .tp-banner');
    var cont = $('.c-layout-revo-slider .tp-banner-container');
    var api = slider.show().revolution(
      {
        sliderType: "standard",
        sliderLayout: "fullscreen",
        dottedOverlay: "none",
        delay: 15000,
        navigation:
        {
          keyboardNavigation: "off",
          keyboard_direction: "horizontal",
          mouseScrollNavigation: "off",
          onHoverStop: "off",
          arrows:
          {
            style: "circle",
            enable: true,
            hide_onmobile: false,
            hide_onleave: false,
            tmp: '',
            left:
            {
              h_align: "left",
              v_align: "center",
              h_offset: 30,
              v_offset: 0
            },
            right:
            {
              h_align: "right",
              v_align: "center",
              h_offset: 30,
              v_offset: 0
            }
          }
        },
        responsiveLevels: [2048, 1024, 778, 480],
        gridwidth: [1240, 1024, 778, 480],
        gridheight: [868, 768, 960, 720],
        lazyType: "none",
        shadow: 0,
        spinner: "spinner2",
        stopLoop: "on",
        stopAfterLoops: 0,
        stopAtSlide: 1,
        shuffle: "off",
        autoHeight: "off",
        disableProgressBar: "on",
        hideThumbsOnMobile: "off",
        hideSliderAtLimit: 0,
        hideCaptionAtLimit: 0,
        hideAllCaptionAtLilmit: 0,
        debugMode: false,
        fallbacks:
        {
          simplifyAll: "off",
          nextSlideOnWindowFocus: "off",
          disableFocusListener: false,
        }
      });
    }); //ready
    </script>
    <!-- END: PAGE SCRIPTS -->
    <!-- END: LAYOUT/BASE/BOTTOM -->

  </body>
  </html>
